<h1>Limites ou frontières administratives de la France</h1>
<p>
Suivi des Communes par département dans OpenStreetMap sous licence ODBL sur une base datant du @@date@@
</p>
<p>
<a href="http://wiki.openstreetmap.org/wiki/WikiProject_France/Fonds_de_cartes">Pour plus d'informations</a>
</p>
<p>
Si vous pensez avoir trouvé un problème, merci de le signaler sur le  <a href="http://trac.openstreetmap.fr/newticket?component=suivi/export%20admin">Trackeur de bug osm-france, composant "suivi/export admin"</a>
</p>